.page11{background-color: #A7C4C2;
    color: black;}
.page22{background-color: #A7B7A3;
    color: black;}
.page33{background-color: #A7C7E7; 
    color: black;}
.page111{background-color: #556B2F;
}   
.page222{background-color:  #4E6E58;
} 
.page333{background-color: #2A6371;
}
h1{
    text-align: center;
    line-height: 1.4;
    letter-spacing: 2px;
    font-weight: 300;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 5px 5px 5px lightgrey;
    
}



    nav {
        background-color: #556B2F;
        padding: 15px;
        display: flex;
        justify-content: center; 
        gap: 20px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        
    }
    .page1{background-image: url("images/kelly-sikkema-Oz_J_FXKvIs-unsplash.jpg");
    }
    .page2{background-image: url("images/photo-1432821596592-e2c18b78144f.jpg");
    }
    .page3{background-image: url("images/photo-1513542789411-b6a5d4f31634.jpg");
    }
    
     body{
        
        background-position: center;
        background-size: cover;
        height: 600px; 

        
     }

   
    form {
        text-align: center;
        padding: 20px;
        width: 300px;
        border-radius: 10px;
        position: relative;
        left: 550px;    
    }

    
    
    
